*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
   

}.wrapper
{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #E8F3D6;
}
.calender{
    margin: auto;
    width: 600px;
    background-color: #FCF9BE;
   
    box-shadow: 0px 0px 15px 3px rgb(44, 43, 43);
}
.month{
    display: flex;
    justify-content: space-between;
    background-color:#FFDCA9;
    width: 100%;
    text-align: center;
    padding: 40px 30px;
    color:white;
    align-items: center;
   
}
.weekend{
    background-color:#FFDCA9;
    display: flex;
    color: white;
    padding: 7px 0;
}
.weekend div{
    width: 14.28%;
    text-align: center;
}
.days{
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    padding: 10px 0;
}
.days div{
    width: 14.28%;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 0;
    transition: all 0.4s;
}
.today{
    background-color:#F0DBDB ;
    color: white;

}
.days div:hover{
    background-color: #FFF6BF;
    color: white;
    cursor: pointer;

}
.prev_date{
    color:#FFDCA9;
}
#month{
    font-size: 30px;
    font-weight: 500;
}
.pre,.next{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50px;
    height: 50px;
    background-color: #FFDCA9;
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;

}
.pre:hover,.next:hover{
    background-color:#ADE792
}
